body
{
    background: #800;
    align-content: center;
    padding: 40px;
}

.content
{
    background: #FFF;
    padding: 7%;
}

h1
{
    text-align: center;    
}

h3
{
    text-align: center;      
}

p
{
    text-align: center;    
}

img
{
    align-self: center;
}